body {
    font-family: poppins, sans-serif;
}

#tv-object-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    border: solid red;

}

#footnoteEmTest {
    font-style: italic;
}

#tv-informatie-per-tv {
    display: inline-block;
    background-color: lightcoral;
    padding: 10px 30px;
    border-radius: 5px;
}

#all-Tvs-Info {
    display: inline-block;
    background-color: lightgoldenrodyellow;
    padding: 10px 30px;
    border-radius: 5px;

}

#bonusveld {
    color: red;
    display: inline-block;
    background-color: lightgreen;
    padding: 10px 30px;
    border-radius: 5px;
}

#bonus-opdracht-button {
    background-color: #ddd;
    border: 2px solid pink;
    color: black;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

#bonus-opdracht-button-price {
    background-color:gold;
    border: 2px solid pink;
    color: black;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}